global:
  sendAnonymousUsage: false
  checkNewVersion: false

additionalArguments:
  - "--serversTransport.insecureSkipVerify=true"
  - "--log.level=INFO"

deployment:
  enabled: true
  replicas: 3

ports:
  web:
    redirections:
      entrypoint:
        to: websecure
    observability:
      metrics: true
  websecure:
    tls:
      enabled: true
    observability:
      metrics: true

ingressRoute:
  dashboard:
    enabled: true
    annotations:
      kubernetes.io/ingress.class: traefik-external
    matchRule: Host(`traefik.infra.chesurah.net`)
    middlewares:
      - name: trusted-only
        namespace: traefik
    entryPoints:
      - traefik
      - websecure

providers:
  kubernetesCRD:
    enabled: true
    ingressClass: traefik-external
    allowExternalNameServices: true
    allowCrossNamespace: true
  kubernetesIngress:
    enabled: false

rbac:
  enabled: true

metrics:
  prometheus:
    service:
      enabled: true
    serviceMonitor:
      enabled: true

service:
  enabled: true
  type: LoadBalancer
  spec:
    externalTrafficPolicy: Local
  annotations:
    metallb.io/loadBalancerIPs: 10.12.2.1
