apiVersion: v1
kind: Namespace
metadata:
  name: ollama
  labels:
    name: ollama
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: ollama-pvc
  namespace: ollama
spec:
  accessModes:
    - ReadWriteMany
  storageClassName: longhorn
  resources:
    requests:
      storage: 100G
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: ollama-models
  namespace: ollama
data:
  qwen3-small.model: |
    FROM qwen3:14b
    SYSTEM """You are Qwen, created by Alibaba Cloud.  You are a helpful assistant."""
    TEMPLATE """{{- $lastUserIdx := -1 -}}
    {{- range $idx, $msg := .Messages -}}
    {{- if eq $msg.Role "user" }}{{ $lastUserIdx = $idx }}{{ end -}}
    {{- end }}
    {{- if or .System .Tools }}<|im_start|>system
    {{ if .System }}
    {{ .System }}
    {{- end }}
    {{- if .Tools }}

    # Tools

    You have access to the following tools. To use a tool, you MUST respond with a single, valid JSON object in the specified format.

    ## Tools Available

    {{ .Tools }}

    ## Tool Call Format
    When you decide to call a tool, you MUST respond with nothing but a single JSON object. Do not add any other text, markdown, or explanations before or after the JSON. The JSON object must have a tool key with the name of the function to call, and an arguments key containing an object of the parameters.

    For example:

    {
      "tool": "name_of_the_function",
      "arguments": {
        "parameter_name_1": "value_1",
        "parameter_name_2": "value_2"
      }
    }
    {{- end -}}
    <|im_end|>
    {{ end }}
    {{- range $i, $_ := .Messages }}
    {{- $last := eq (len (slice $.Messages $i)) 1 -}}
    {{- if eq .Role "user" }}<|im_start|>user
    {{ .Content }}
    {{- if and $.IsThinkSet (eq $i $lastUserIdx) }}
       {{- if $.Think -}}
          {{- " "}}/think
       {{- else -}}
          {{- " "}}/no_think
       {{- end -}}
    {{- end }}<|im_end|>
    {{ else if eq .Role "assistant" }}<|im_start|>assistant
    {{ if (and $.IsThinkSet (and .Thinking (or $last (gt $i $lastUserIdx)))) -}}
    <think>{{ .Thinking }}</think>
    {{ end -}}
    {{ if .Content }}{{ .Content }}
    {{- else if .ToolCalls }}<tool_call>
    {{ range .ToolCalls }}{"name": "{{ .Function.Name }}", "arguments": {{ .Function.Arguments }}}
    {{ end }}</tool_call>
    {{- end }}{{ if not $last }}<|im_end|>
    {{ end }}
    {{- else if eq .Role "tool" }}<|im_start|>user
    <tool_response>
    {{ .Content }}
    </tool_response><|im_end|>
    {{ end }}
    {{- if and (ne .Role "assistant") $last }}<|im_start|>assistant
    {{ if and $.IsThinkSet (not $.Think) -}}
    <think>

    </think>

    {{ end -}}
    {{ end }}
    {{- end }}
    """
  qwen3-coder.model: |
    FROM qwen3-coder:30b
    SYSTEM """You are Qwen, created by Alibaba Cloud.  You are a helpful assistant."""
    # template found at https://gist.github.com/adstastic/71632f39f4ea8d7facc2eddf0e46b3fd
    TEMPLATE """{{- if .System }}<|im_start|>system
    {{ .System }}
    {{- if .Tools }}
    You have access to the following tools. To use a tool, you MUST respond with a single, valid JSON object in the specified format.

    # Tools Available

    {{ .Tools }}

    Tool Call Format
    When you decide to call a tool, you MUST respond with nothing but a single JSON object. Do not add any other text, markdown, or explanations before or after the JSON. The JSON object must have a tool key with the name of the function to call, and an arguments key containing an object of the parameters.

    For example:

    {
      "tool": "name_of_the_function",
      "arguments": {
        "parameter_name_1": "value_1",
        "parameter_name_2": "value_2"
      }
    }
    {{- end }}
    <|im_end|>
    {{ end }}
    {{- range .Messages }}
    {{- if eq .Role "user" }}
    <|im_start|>user
    {{ .Content }}<|im_end|>
    {{ else if eq .Role "assistant" }}
    <|im_start|>assistant
    {{ .Content }}<|im_end|>
    {{ else if eq .Role "tool" }}
    <|im_start|>tool
    {{ .Content }}<|im_end|>
    {{ end }}
    {{- end }}<|im_start|>assistant
    """
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: ollama-rocm
  namespace: ollama
spec:
  replicas: 1
  selector:
    matchLabels:
      app: ollama-rocm
  template:
    metadata:
      labels:
        app: ollama-rocm
    spec:
      containers:
        - name: ollama
          image: ollama/ollama:rocm
          env:
            - name: OLLAMA_CONTEXT_LENGTH
              value: "65536"
            - name: OLLAMA_DEBUG
              value: "1"
          ports:
            - containerPort: 11434
              name: ollama
          volumeMounts:
            - mountPath: /root/.ollama
              name: ollama-data
            - mountPath: /models
              name: ollama-models
              readOnly: true
          resources:
            requests:
              memory: "32Gi"
              amd.com/gpu: 1
            limits:
              memory: "100Gi"
              amd.com/gpu: 1
          livenessProbe:
            httpGet:
              path: /
              port: 11434
              scheme: HTTP
            initialDelaySeconds: 5
            timeoutSeconds: 2
            periodSeconds: 10
            successThreshold: 1
            failureThreshold: 5
          readinessProbe:
            httpGet:
              path: /
              port: 11434
              scheme: HTTP
            initialDelaySeconds: 5
            timeoutSeconds: 2
            periodSeconds: 10
            successThreshold: 1
            failureThreshold: 3
          startupProbe:
            httpGet:
              path: /
              port: 11434
              scheme: HTTP
            initialDelaySeconds: 5
            timeoutSeconds: 2
            periodSeconds: 10
            successThreshold: 1
            failureThreshold: 30
      volumes:
        - name: ollama-data
          persistentVolumeClaim:
            claimName: ollama-pvc
        - name: ollama-models
          configMap:
            name: ollama-models
---
apiVersion: v1
kind: Service
metadata:
  name: ollama-rocm-service
  namespace: ollama
spec:
  selector:
    app: ollama-rocm
  ports:
    - protocol: TCP
      port: 11434
      targetPort: 11434
      name: ollama
---
# yaml-language-server: $schema=https://raw.githubusercontent.com/datreeio/CRDs-catalog/main/traefik.io/ingressroute_v1alpha1.json
apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: ollama-rocm-ingress-route
  namespace: ollama
  annotations:
    kubernetes.io/ingress.class: traefik-external
spec:
  entryPoints:
    - websecure
  routes:
    - kind: Rule
      match: Host(`ollama.apps.chesurah.net`)
      services:
        - name: ollama-rocm-service
          namespace: ollama
          port: 11434
  tls:
    secretName: apps-chesurah-net-prod-tls
